AminoAcids.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by George Schizas (TerraSoft) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="aminoacid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="atoms"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ALA"/>
						<xs:enumeration value="ARG"/>
						<xs:enumeration value="ASN"/>
						<xs:enumeration value="ASP"/>
						<xs:enumeration value="CYS"/>
						<xs:enumeration value="GLN"/>
						<xs:enumeration value="GLU"/>
						<xs:enumeration value="GLY"/>
						<xs:enumeration value="HIS"/>
						<xs:enumeration value="ILE"/>
						<xs:enumeration value="LEU"/>
						<xs:enumeration value="LYS"/>
						<xs:enumeration value="MET"/>
						<xs:enumeration value="PHE"/>
						<xs:enumeration value="PRO"/>
						<xs:enumeration value="SER"/>
						<xs:enumeration value="THR"/>
						<xs:enumeration value="TRP"/>
						<xs:enumeration value="TYR"/>
						<xs:enumeration value="VAL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="aminoacids">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="aminoacid" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="atom">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="link" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="C"/>
						<xs:enumeration value="H"/>
						<xs:enumeration value="N"/>
						<xs:enumeration value="O"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:integer" use="optional"/>
			<xs:attribute name="x" type="xs:float" use="required"/>
			<xs:attribute name="y" type="xs:float" use="required"/>
			<xs:attribute name="z" type="xs:float" use="required"/>
			<xs:attribute name="charge" type="xs:string" use="optional"/>
			<xs:attribute name="dehydrate" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="C"/>
						<xs:enumeration value="N"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="atoms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="atom" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="link">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:integer">
					<xs:attribute name="bond">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="Single"/>
								<xs:enumeration value="Double"/>
								<xs:enumeration value="Triple"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
